<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>
        var HttpClient = function() {
            this.get = function(aUrl, aCallback) {
                var anHttpRequest = new XMLHttpRequest();
                anHttpRequest.onreadystatechange = function() {
                    if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                        aCallback(anHttpRequest.responseText);
                }

                anHttpRequest.open( "GET", aUrl, true );
                anHttpRequest.send( null );
            }
        }

        var client = new HttpClient();
        client.get(window.location.href.split('/').slice(0, -1).join('/'),
        function (response) {
            window.document.body.append(response['access']);
            window.document.body.append(response['refresh']);
        })
    </script>
</body>
</html>