<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>

        var HttpClient = function() {
            this.get = function(aUrl, aCallback) {
                var anHttpRequest = new XMLHttpRequest();
                anHttpRequest.onreadystatechange = function() {
                    if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                        aCallback(anHttpRequest.responseText);
                }

                anHttpRequest.open( "GET", aUrl, true );
                anHttpRequest.send( null );
            }
        }

        var client = new HttpClient();
        url = window.location.href;
        const urlParams = new URLSearchParams(window.location.search);
        const provider = urlParams.get('provider');
        query_params = url.slice(url.indexOf('?'));
        client.get(window.location.href.split('/').slice(0, -2).join('/') + `/${provider}/?code=${urlParams.get('code')}`,
        function (response) {
            response = JSON.parse(response);
            window.document.write(response.access + "\n");
            window.document.write(response.refresh);
        });
    </script>
</body>
</html>